.wrapper {
    display: flex;
    gap: 10px;
}

.link {
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    color: #2a363b;
}

.link.active {
    color: #e84a5f;
}